@model Models.BookingCosmeticServiceModel

@{
    ViewData["Title"] = "BookingDetails";
}

@Html.AntiForgeryToken()

<div class="form-horizontal" />
<h4>Service: @Model.Nameservice @Model.Price $</h4>
<hr />
@Html.ValidationSummary(true)

<div>
    @Html.HiddenFor(model => model.ServiceId)
    @Html.HiddenFor(model => model.Nameservice)
    @Html.HiddenFor(model => model.Price)

    <div class="form-group">
        @Html.LabelFor(model => model.VisitData, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.VisitData)
            @Html.ValidationMessageFor(model => model.VisitData)
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.MasterName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.MasterName, new[]
                      {
                new SelectListItem() {Text = "Abramson", Value = "1" },
                new SelectListItem() {Text = "Brickman", Value = "2" },
                new SelectListItem() {Text = "Watson",   Value = "3" }
            })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
    </div>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>




