@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Http;
@using Services

@inject UserManager<ApplicationUser> userManager
@inject IHttpContextAccessor httpContextAccessor
@inject SignInManager<ApplicationUser> SignInManager

@model CosmeticServiceListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Cosmetic Services</h2>

@if (SignInManager.IsSignedIn(User))
{
    var httpContext = httpContextAccessor.HttpContext;
    var user = await userManager.GetUserAsync(httpContext.User);
    bool role = await userManager.IsInRoleAsync(user, "Admin");

    @if (role)
     {
        <div class="row margin-top-10">

            <table class="table table-striped">
                <tr>
                    <th>№</th>
                    <th>Name service</th>
                    <th>Price,$</th>
                    <th></th>
                    <th></th>
                </tr>

                @for (int i = 0; i < Model.CosmeticServices.Count; i++)
                 {
                    var item = Model.CosmeticServices[i];
                    var displayIndex = i + 1;
                    <tr>
                        <td>
                            @displayIndex
                        </td>

                        <td>
                            @item.Nameservice
                        </td>

                        <td>
                            @item.Price
                        </td>

                        <td>
                            <a href="@Url.Action("Update", "CosmeticServices", new { @item.Id })">Edit</a>
                        </td>

                        <td>
                            <a href="@Url.Action("Delete", "CosmeticServices", new { @item.Id })">Delete</a>
                        </td>
                    </tr>
                 }
            </table>
        </div>

        @Html.ActionLink("Add service", "Create", "CosmeticServices")
     }

    else
    {
        <div class="row margin-top-10">

            <table class="table table-striped">
                <tr>
                    <th>№</th>
                    <th>Name service</th>
                    <th>Price,$</th>
                </tr>

                @for (int i = 0; i < Model.CosmeticServices.Count; i++)
                 {
                    var item = Model.CosmeticServices[i];
                    var displayIndex = i + 1;
                    <tr>
                        <td>
                            @displayIndex
                        </td>

                        <td>
                            @item.Nameservice
                        </td>

                        <td>
                            @item.Price
                        </td>
                    </tr>
                 }
            </table>
        </div>
    }

    <div>
        @Html.ActionLink("Go back to main page", "Index", "Home")
    </div>
 }

else
{
    <div class="row margin-top-10">

        <table class="table table-striped">
            <tr>
                <th>№</th>
                <th>Name service</th>
                <th>Price,$</th>
            </tr>

            @for (int i = 0; i < Model.CosmeticServices.Count; i++)
             {
                var item = Model.CosmeticServices[i];
                var displayIndex = i + 1;
                <tr>
                    <td>
                        @displayIndex
                    </td>

                    <td>
                        @item.Nameservice
                    </td>

                    <td>
                        @item.Price
                    </td>
                </tr>
             }
        </table>
    </div>

    <div>
     @Html.ActionLink("Go back to main page", "Index", "Home")
    </div>
}

