@model HairdresserServiceListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Hairdresser Services</h2>

<div class="row margin-top-10">
    <table class="table table-striped">
        <tr>
            <th>№</th>
            <th>Name service</th>
            <th>Price,$</th>
            <th></th>
            <th></th>
        </tr>

        @for (int i = 0; i < Model.HairdresserService.Count; i++)
         {
            var item = Model.HairdresserService[i];
            var displayIndex = i + 1;
            <tr>
                <td>
                    @displayIndex
                </td>

                <td>
                    @item.Nameservice
                </td>

                <td>
                    @item.Price
                </td>

                <td>
                    <a href="@Url.Action("Create", "HairdresserServices", new{@item.Id})">Edit</a>
                </td>

                <td>
                    <a href="@Url.Action("Delete", "HairdresserServices", new{@item.Id})">Delete</a>
                </td>
            </tr>
         }
    </table>
</div>

<div>
    @Html.ActionLink("Add service", "Create", "HairdresserServices") </br>

    @Html.ActionLink("Go back to main page", "../Home/Index")
</div>

